body{
	background: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url("background-city.jpg");
	background-size: 100%;
	background-attachment: fixed;
	color: black;
/*	max width: 700px;*/
	margin-top: 0;
	margin-bottom: 5vh;
	margin-left: 5vw;
	margin-right: 5vw; 
	font-size: 3vh;
}

nav{
	height: 6vh;
	background-color: black;
}

header{
	clear: right;
}

section{
	margin-top: 0.5vh;
	margin-left: 2.5vw;
	margin-right: 2.5vw;
	margin-bottom: 1vh;
    background-color: rgba(255, 255, 255, 0.4);
/*    border: 1px solid black;*/
    padding: 4vw 4vw 4vw 4vw; 
    text-align: justify;
    vertical-align: bottom;

    /*filter: alpha(opacity=1000); */
}

article{
	float: left;
	height: 70%;
	width: 70%;
}

h1{
	font-size: 12vh;
	font-family: 'Dancing Script', cursive;
	margin: 2vh;
}

h2{
	margin-top: 0.8em;
	margin-bottom:0.8em;
}

p{
	margin: 30px;
}

ul{
	margin: 5vh;
}

a{
	color: #ADD8E6;
}

li a{
	color: #ADD8E6;
	font-size: 3vh;
	text-shadow: 2px 2px 5px;
}

#navigation-button li{
	float: right;
	display: inline;
	margin: 2vh;
}

/*-------*/
/*-------*/
/*-------*/
@media (max-width: 408px){
	h1{
		font-size: 12vw;
	}
	#navigation-button li{
		margin: 0 1vw 0 1vw;	
	}
	li a{
		font-size: 2vw;
	}
	nav{
		height: 4vh;
	}
}
/*-------*/
/*-------*/
/*-------*/

footer{
	clear: both;
	margin-bottom: 70px;
}

#banner{
	border-top: 5vh solid black;
	padding-top: 1vh;	
	border-bottom: 0.2vh solid black;
	padding-bottom: 1vh;
	margin-bottom: 0.2vh;
}

#gallery img{
	display: inline-block;
	vertical-align: bottom;
	width: 270px;
	height: 217px;
	margin: 10px;	
}

/*-------*/
/*-------*/
/*-------*/
@media screen and (max-width: 408px){
	#gallery img{
		width: 60vw;
		height: 46vw;
	}
}
/*-------*/
/*-------*/
/*-------*/

#gallery{
	text-align: center;
}

/*#about:after{
	clear: both;
}*/

#sidebar{
	float: right;
	margin: 2vw;
    background-color: rgba(255, 255, 255, 0.4);
/*    border: 1px solid black;*/
    padding: 2vw 2vw 2vw 2vw; 
    text-align: justify;
    width: 20%;
    height: 70%;
    border-style: ridge;
    border-size: 2vw; 
}

#contact *{
	vertical-align: top;
}

#map-embed iframe {
	float: right;
	/*position: relative;*/
}

/*-------*/
/*-------*/
/*-------*/
@media(max-width: 700px){
	#sidebar{
		float: left;
		clear: both;
		width: 70vw;
		margin: 3vw;
		padding: 5vw 5vw 5vw 5vw;
	}
	article{
		width: 90vw;
	}

	#map-embed iframe{
		float: left;
		width: 60vw;
	}
}
/*-------*/
/*-------*/
/*-------*/

#disclaimer{
	position: fixed;
	bottom: 5vh;
	font-size: 1.2vh;
	background-color: rgba(255, 255, 255, .9);
	width: 100%;
	margin-left: -5vw;
	/*padding-left: 15px; */
}

/*dropdown menu styling starts here*/

a:hover{
	color: red;
}

nav a:hover{
	background-color: rgba(255, 255, 255, .4);
	border-radius: 10px;	
/*	background: radial-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .9);*/
}



/*-------*/
/*-------*/
/*-------*/
/*-------*/
/*#gallery-btn li:hover {
	color: yellow;
}*/

#gallery-btn:hover #dropdown-content-gallery{
	display: block;
}

#dropdown-content-gallery{
	display:none;
	position: absolute;
	min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 2vh;
}

#dropdown-content-gallery a{
	display: block;
	color: black;
	font-size: 2vh;
	text-shadow: 2px 2px 5px;
	background-color: rgba(255, 255, 255, 0);
	border-radius: 0px;
}

#dropdown-content-gallery a:hover{
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 0px;
}

/*-------*/
/*-------*/
/*----Animations starts here---*/
#image-one:hover{
	transform: scale(1.2);
}

@keyframes blink{
	50%{
		opacity: 1;
	}

	100%{
		opacity: 0;
	}
}

@keyframes spin{
	0%{
		transform: none;
	}
	50%{
		transform: rotate(6deg);
	}
	100%{
		transform: rotate(3deg);
	}
	/*10%{
		transform: rotate(6deg);
	}
	10%{
		transform: rotate(6deg);
	}
	10%{
		transform: rotate(6deg);
	}
	10%{
		transform: rotate(6deg);
	}
	10%{
		transform: rotate(6deg);
	}
	10%{
		transform: rotate(6deg);
	}
	10%{
		transform: rotate(6deg);
	}
	10%{
		transform: rotate(6deg);
	}
	10%{
		transform: rotate(6deg);
	}
	10%{
		transform: rotate(6deg);
	}*/

}

#image-two:hover{
	animation-name: blink;
	animation-duration: 2s;
	animation-delay: 0;
}

#image-three:hover{
	animation-name: spin;
	animation-duration: 0.2s;
	animation-iteration-count: 5;
	animation-direction: direction;
	animation-fill-mode: forwards;
}